@import "resets";
@import "variables";


@function weight($weight-name)
{
  @return map-get($font-weights , $weight-name);
}



/* creat mixin */
@mixin primary_lst
{
  background: $primary_color_4;
  height: 28px;
  width: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  
}

/* use the variables */
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    background-color: $primary_color_1;
  }
  
  .top-red 
  {
    background:$primary_color_2;
    height: 50px;
  }

  .container-main
  {
    padding: 20px;
    margin-top: -50px;
  }
  
  .container-mainp
  {
    padding: 20px;
    margin-top: 50px;
  }
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  .row-bottom
  {
    display: flex;
    flex-wrap: nowrap;
    background:$primary_color_3;
    height: auto;

  }

  .rowsub
  {
    background:$primary_color_3;
    height: 160px;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%;
    width: 25%;
    /* background-color: #f1f1f1; */
    padding: 20px;
  }

  .side-bottom {
    flex: 20%;
    /* width: 20%; */
    /* background-color: #f1f1f1; */
    padding: 20px;
  }
  .side 
  {
    h3
      {
          font-weight: weight(normal);
          margin: .1em 0;
      }
  }

  .side 
  {
    small
        {
            color: $primary_color_8;
            font-size: $primary_font_11;
        }
      }
  .side p span
  {
      color: $primary_color_8;
  }

  .side p{
      font-size: $primary_font_14;
      margin-top: 4em;
  }
  
  /* Main column */
  .bottom-section
  {
      padding: 20px;
  }

  .bottom-section h3
  {
      font-weight: map-get($font-weights, normal);
      margin: .5em 0;
  }

  .bottom-section small
  {
      color: $primary_color_8;
      font-size: $primary_font_12;
  }
  .bottom-section p .spanstart-arrow
  {
    font-size: $primary_font_24;
    vertical-align: sub;
    margin-left: 2px;
  }

  .bottom-section p{
      font-size: $primary_font_14;
      margin-top: 4em;
      color: $primary_color_9
  }


  .main {
    flex: 75%;
    width: 75%;
    /* background-color: white; */
    padding: 20px;
  }

  .item-img
  {
    position: relative;
  }



  .main-bottom {
    flex: 80%;
    /* width: 80%; */
    /* background-color: white; */
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: $primary_color_7;
    width: 100%;
    padding: 20px;
  }
  
  $large_s:1024px;
  $small_s:700px;



  @media screen and (max-width: $large_s)
  {
    .MultiCarousel .MultiCarousel-inner .item .item-block .pad15
    {
      height: 115px;
    }
  }

  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */


  @media screen and (max-width: $small_s) {
    .row, .navbar {   
      flex-direction: row;
    }
    .row-bottom
    {
      flex-direction: column;
    }
    .side, .main
    {
        width: 100%;
    }

    .rowsub
    {
      height: 450px;
     
    }
    .main-bottom, .side-bottom {
      flex: 100%;
    }
    .MultiCarousel .MultiCarousel-inner .item .item-block .item-img .imgcls
    {
      height: 125px !important;
    }
  }




.MultiCarousel { float: left; overflow: hidden; padding: 0px; width: 100%; position:relative; Height: auto; padding-bottom: 2px; }
// .MultiCarousel{ Height: auto; padding-bottom: 2px;}
    .MultiCarousel 
      {
        #{&}-inner 
            { 
              transition: 1s ease all; float: left; 
            }
      }
        .MultiCarousel {
          #{&}-inner
          { 
            .item 
            {
               float: left; margin: 0 0px; padding: 0 10px;
            }
          }
        }
        .MultiCarousel .MultiCarousel-inner .item .item-block {background:$primary_color_3; border-radius: 5px; overflow: hidden; box-shadow: 0px 2px 4px $primary_color_5;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .item-img .imgcls {width: 100%; border-radius: 5px; overflow: hidden; height: 96px;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .item-img .img-sub {width: 21%; position: absolute; right: 5px; top: 5px; background: #b7b7b73d; border-radius: inherit; padding: 5px; height: auto;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .pad15 {padding: 10px 15px 5px; text-align: left;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .pad15 .title{margin: 0px; font-size: $primary_font_14;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .pad15 .sub-title{margin: 4px 0px; font-size: $primary_font_11; color: $primary_color_8; height: 40px;}
        .MultiCarousel .MultiCarousel-inner .item .item-block .pad15 .bottom-title{margin:0; font-size: $primary_font_12; color: $primary_color_6; position: absolute; bottom: 5px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; @include primary_lst;}
    .MultiCarousel .rightLst { right:0; @include primary_lst;}
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background: $primary_color_4; height: 28px; width: 28px;  border: none; cursor: none; color: $primary_color_3; opacity: 0.7; }