/* define variables for the primary colors */
$primary_color_1: #e5e5e5;
$primary_color_2: rgb(163, 21, 3);
$primary_color_3: #fff;
$primary_color_4: #cccccc;
$primary_color_5: #afafaf;
$primary_color_6: #13bb27;
$primary_color_7: #aaa;
$primary_color_8: #999;
$primary_color_9: rgb(255, 0, 0);


/* define variables for the primary font-size */

$primary_font_11: 11px;
$primary_font_12: 12px;
$primary_font_14: 14px;
$primary_font_20: 20px;
$primary_font_24: 24px;



$font-weights:(
  "normal": 500
);

